<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список дел</title>
</head>
<body>
<h1>My To Do List</h1>
<form action="/addTodoItem/" method = "post">{% csrf_token %}
    <input type="text" name="content">
    <input type="submit" value="Add Todo Item">
</form>
<ul>
    {% for i in all_items %}
    <li>{{i.content}}
    <form action="/deleteTodoItem/{{i.id}}/" method = "post">{% csrf_token %}
            <input type="submit" value="Delete">
</form>
    </li>
    {% endfor %}
</ul>
</body>
</html>